.display{
    height: 150px;
    width:700px;
    background-color:rgb(160, 220, 238);
    margin: 0px 130px;
    padding-left: 20px;
    margin-bottom: 10px;
    
    
}



.display:hover{
    box-shadow: -5px 5px 5px rgb(114, 108, 108);
    border-bottom: solid 1px rgb(56, 54, 54);;
    transform: scale(1.01);
    border-left: solid 1px black;
}